body{ 
  margin:0; 
  padding:0; 
  }
button:active{ 
background-color:red; 
} 
button:focus{ 
background-color:red; 
}
#sky1{ 
overflow: hidden; 
border: 1px #ddd solid; 
background-color: #222; 
margin: 0; 
} 
.skybutton{
font-size:36px;
background-color:black;
color:white;
border-radius:25px;
}
